In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\FAANG _SP\FAANG.csv")
data.head()

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,...,Profit Margin,Unnamed: 29,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Unnamed: 34,Unnamed: 35,Beta (5Y),Annual Dividend Rate
0,Apple,AAPL,01-03-2005,1.156786,1.162679,1.117857,1.130179,0.954409,691992000,3.580000e+12,...,0.26441,NaN,0.798,53.66043,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0
1,Apple,AAPL,01-04-2005,1.139107,1.169107,1.124464,1.141786,0.964210,1096810400,3.580000e+12,...,0.26441,NaN,0.798,53.66043,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0
2,Apple,AAPL,01-05-2005,1.151071,1.165179,1.143750,1.151786,0.972655,680433600,3.580000e+12,...,0.26441,NaN,0.798,53.66043,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0
3,Apple,AAPL,01-06-2005,1.154821,1.159107,1.130893,1.152679,0.973409,705555200,3.580000e+12,...,0.26441,NaN,0.798,53.66043,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0
4,Apple,AAPL,01-07-2005,1.160714,1.243393,1.156250,1.236607,1.044284,2227450400,3.580000e+12,...,0.26441,NaN,0.798,53.66043,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0

In [3]:
data.isnull().sum()

Company                         0
Ticker                          0
Date                            0
Open                            0
High                            0
Low                             0
Close                           0
Adj Close                       0
Volume                          0
Market Cap                      0
PE Ratio                        0
Beta                         4982
EPS                             0
Forward PE                      0
Unnamed: 14                 23055
Unnamed: 15                 23055
Unnamed: 16                 23055
Net Income                      0
Debt to Equity                  0
Return on Equity (ROE)          0
Current Ratio                   0
Dividends Paid               9964
Dividend Yield               9964
Quarterly Revenue Growth        0
Analyst Recommendation          0
Target Price                    0
Free Cash Flow                  0
Operating Margin                0
Profit Margin                   0
Unnamed: 29                 23055
Quick Ratio                     0
Price to Book Ratio             0
Enterprise Value                0
Total Debt                      0
Unnamed: 34                 23055
Unnamed: 35                 23055
Beta (5Y)                    4982
Annual Dividend Rate         9964
dtype: int64

In [4]:
data.drop(columns=['Beta', 'Dividends Paid', 'Dividend Yield', 'Beta (5Y)', 'Annual Dividend Rate', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 29', 'Unnamed: 34', 'Unnamed: 35'], inplace=True)

In [5]:
data.isnull().sum()

Company                     0
Ticker                      0
Date                        0
Open                        0
High                        0
Low                         0
Close                       0
Adj Close                   0
Volume                      0
Market Cap                  0
PE Ratio                    0
EPS                         0
Forward PE                  0
Net Income                  0
Debt to Equity              0
Return on Equity (ROE)      0
Current Ratio               0
Quarterly Revenue Growth    0
Analyst Recommendation      0
Target Price                0
Free Cash Flow              0
Operating Margin            0
Profit Margin               0
Quick Ratio                 0
Price to Book Ratio         0
Enterprise Value            0
Total Debt                  0
dtype: int64

In [6]:
data.to_csv('FAANG - 1.csv', index=False)

In [7]:
# IQR
for i in data.columns:
    if data[i].dtype != 'object':
        percentile25 = data[i].quantile(0.25)
        percentile75 = data[i].quantile(0.75)
        iqr=percentile75 - percentile25
        upper_limit = percentile75 + 1.5 * iqr
        lower_limit = percentile25 - 1.5 * iqr
        data[i] = data[i].clip(lower=lower_limit, upper=upper_limit)

In [8]:
data.to_csv('FAANG - 2.csv', index=False)